<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.portfolio">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Portfolio"
        tools:targetApi="31">

        <activity
            android:name=".menuAction"
            android:exported="false" />
        <activity
            android:name=".treino_supino_declinado"
            android:exported="false" />
        <activity
            android:name=".treino_crossover"
            android:exported="false" />
        <activity
            android:name=".treino_peckDeck"
            android:exported="false" />
        <activity
            android:name=".treino_supino_inclinado"
            android:exported="false" />
        <activity
            android:name=".treino_supino_reto"
            android:exported="false" />
        <activity
            android:name=".activity_base"
            android:exported="false" />
        <activity
            android:name=".Config"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="true" /> <!-- Mudando para true -->
        <activity
            android:name=".Treinos"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
